TZ=Asia/Shanghai

MYSQL_DATABASE=smart_finance_dashboard
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_ROOT_PASSWORD=123456

DB_HOST=mysql
DB_PORT=3306
DB_NAME=smart_finance_dashboard
DB_USERNAME=root
DB_PASSWORD=123456

JAVA_OPTS=-Xms256m -Xmx512m
